<%= form_for(@tooltip) do |f| %>
  <% if @tooltip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tooltip.errors.count, "error") %> prohibited this Tooltip from being saved:</h2>

      <ul>
      <% @tooltip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :locale %><br />
    <%= f.text_field :locale %> Use two letter ISO-639-1 code
  </div>
  <div class="field">
    <%= f.label :markup %><br />
    <%= f.radio_button :markup, 'markdown', :selected => true %> Markdown
    <%= f.radio_button :markup, 'textile' %> Textile
    <%= f.radio_button :markup, 'html' %> HTML / Plain Text &nbsp;
<br/>
<a href="http://en.wikipedia.org/wiki/Markdown">Markdown syntax</a>
<br/>
<a href="http://redcloth.org/textile">Textile syntax</a>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
